<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solitary's Recipe</title>
        <link href="./styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="left_header">
                <div class="header_logo"><a href="../home.html">Own's Recipe</a></div>
            </div>
            <div class="right_header">
                <nav>
                    <ul>
                        <li id="memberName">회원이름</li>
                        <li><a href="../write/write.html">작성하기</a></li>
                        <li>나의 정보</li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <h1 id="title"></h1>
            <hr />
            <p class="created_at"></p>
            <p class="author"></p>
            <hr />
            <section class="body">
                <article id="description"></article>
                <div class="image_container"></div>
            </section>
            <div class="btn-container display-none">
                <button id="btn-modify">수정하기</button>
                <button id="btn-delete">삭제하기</button>
            </div>
            <form class="comment-form">
                <input type="text" id="comment-input" placeholder="여러분의 의견을 남겨주세요!">
                <button type="submit">댓글 쓰기</button>
            </form>
            <div class="comments-container">
            </div>
        </main>
        <script src="./view.js"></script>
    </body>
</html>