:root {
    --bg-dark: hsla(15, 100%, 75%, 1);
    --txt-dark: hsla(330,40.2%, 45.9%, 1);
    --txt-dark-2: hsla(330, 40.2%,45.9%, 1);
    --cta: hsla(33, 50%, 50%, 1);
    --txt-light: hsla(330, 93.3%, 100%, 1);
    --txt-grey: hsla(0, 0%, 94.1%, 1);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    background-color: var(--bg-dark);
    border-block: 1px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background: url('https://st4.depositphotos.com/6975596/29694/i/1600/depositphotos_296948120-stock-photo-table-full-with-different-foods.jpg');
    height: 100%;
}

main {
    height: 90vh;
    width: 60vw;
    padding: 20px 20px 15px 20px;
    margin: auto;
    background-color: antiquewhite;
}

main h1 {
    font-family: cursive;
    color: var(--txt-dark);
    text-align: center;
}

main .article_list {
    list-style: none;
    
}

.article_list li {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin-block: 10px;
    line-height: 50px;
    border: 1px solid var(--bg-dark);
    border-radius: 10px;
    padding-inline: 10px;
}

.article_list li:hover {
    background-color: var(--bg-dark);
}

.left_header {
    margin-left: 30px;
}

.left_header .header_logo a {
    font-size: 2rem;
    text-decoration: none;
    color: white;
    font-family: cursive;
}

.right_header {
    margin-right: 30px;
    color: var(--txt-grey);
}

.right_header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.page_num {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
    margin-top: auto;
    background-color: antiquewhite;
    width: 60vw;
    margin: auto;
    padding-bottom: 10px;
}

.page_num span:hover {
    text-decoration: underline;
    cursor: pointer;
}