<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Solitary's Recipe</title>
        <link href="./styles.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="left_header">
                <div class="header_logo"><a href="../home/home.html">Own's Recipe</a></div>
            </div>
            <div class="right_header">
                <nav>
                    <ul>
                        <li id="memberName">회원이름</li>
                        <li><a href="../write/write.html">글쓰러가기</a></li>
                        <li>나의 정보</li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <h1 id="title">제목</h1>
            <hr />
            <p class="created_at">작성 시기 : 11233213</p>
            <p class="author">작성자</p>
            <article id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolor, nulla, non dignissimos inventore reprehenderit laborum unde quod at repellat fugit ipsum odit. Eveniet officiis minus velit quaerat praesentium facilis dolore quia rerum deleniti atque sint unde, corrupti, suscipit necessitatibus, doloribus inventore? Impedit aut, est porro sit iure modi obcaecati minima animi facilis atque error autem cum eaque id voluptatum qui aliquam sunt similique voluptatibus asperiores enim. Tenetur iure itaque dolorum provident harum impedit omnis quo, doloribus asperiores saepe possimus excepturi, exercitationem incidunt eum cupiditate neque nihil, deleniti maiores sequi sit dolor culpa similique quam reprehenderit. Culpa earum ullam sapiente.</article>
            <div class="image_container">

            </div>
        </main>
        <script src="./view.js"></script>
    </body>
</html>