:root {
    --bg-dark: hsla(15, 100%, 75%, 1);
    --txt-dark: hsla(330,40.2%, 45.9%, 1);
    --txt-dark-2: hsla(330, 40.2%,45.9%, 1);
    --cta: hsla(33, 50%, 50%, 1);
    --txt-light: hsla(330, 93.3%, 100%, 1);
    --txt-grey: hsla(0, 0%, 94.1%, 1);
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--bg-dark);
    color: var(--txt-grey);
    padding: 20px;
    text-align: center;
    height: 7vh;
    font-family: cursive;
}

h1 {
    margin-top: 0;
    cursor: pointer;
}

main {
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#postContent {
    height: 50vh;
}

#category {
    margin-block: 10px;
}

#postImage {
    opacity: 0;
}

#imgLabel {
    border-radius: 7px;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 1rem;
    background-color: var(--bg-dark);
}

#imgLabel label {
    color: var(--txt-grey);
    cursor: pointer;
}

button[type="submit"] {
    background-color: var(--bg-dark);
    border-radius: 7px;
    width: 80px;
}